<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <%= @comment.body %>
=======
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Picture:</strong>
>>>>>>> 5708fb0b8e6284581c88814d0819f30d5b3189f0
  <%= @comment.picture_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
