<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %> 
    <select name="mydropdown">
      <option value="Game">Game</option>
      <option value="Film">Film</option>
      <option value="Music">Music</option>
    </select>
  </div>
   <div class="field">
    <%= f.label :mood %><br>
    <%= f.text_field :mood %>
    <select name="mydropdown">
      <option value="Chill">Chill</option>
      <option value="Andante">Andante</option>
      <option value="Energetic">Energetic</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
