<p id="notice"><%= notice %></p>

<h1>PREVIEWS</h1>

<ul id="sort-by">
    <li><a href="category">category</a></li>
    <li><a href="mood">mood</a></li>
    <li><a href="date">release date</a></li>
</ul>

<div id="container" class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200 }'>
    <% @pictures.each do |picture| %>
      <ul>
      <div class="item">
        <li><%= image_tag picture.url %></li>
        <li><%# picture.title %></li>
        <li><%# picture.status %></li>
        <li><%# picture.emotion %></li>
        <li><%# long_date(picture.date) %></li>
        <li class='options'>
          <div><%= link_to 'SHOW', picture %></div>
          <div><%= link_to 'EDIT', edit_picture_path(picture) %></div>
          <div><%= link_to 'DESTROY', picture, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </li>
       </div>
      </ul>
<% end %>
</div>

<br>

<%= link_to 'New Picture', new_picture_path, class: "footer" %>


