<p id="notice"><%= notice %></p>

<h1>ON THE LOOKOUT</h1>

<ul id="sort-by">

    <li><%= link_to "games", category: 1 %></li>
    <li><%= link_to "film", category: 2 %></li>
    <li><%= link_to "music", category: 3 %></li>

</ul>

<div id="container">
  <% @pictures.each do |picture| %>
  <div class="item">
    <%= image_tag picture.url %>
    <div class="action-overlay"><%= link_to 'SHOW', picture %></div>
      </div>
    <% end %>
  </div>

<br>

<footer>
<%= link_to 'New Video', new_picture_path, class: "footer"%> | 
<%= link_to 'Back', pictures_path, class: "footer"  %>
</footer>



