<p id="notice"><%= notice %></p>

<h1>PREVIEWS</h1>

<ul id="sort-by">
    <li><a href="category">category</a></li>
    <li><a href="mood">mood</a></li>
    <li><a href="date">release date</a></li>
</ul>

<div id="container">
  <% @pictures.each do |picture| %>
  <div class="item">
    <%= image_tag picture.url %>
    <div class="action-overlay">
      <ul>
      <li><%= link_to 'SHOW', picture %>
      <li><%= link_to 'EDIT', edit_picture_path(picture) %>
      <li><%= link_to 'DESTROY', picture, method: :delete, data: { confirm: 'Are you sure?' } %> </ul>
      </div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Picture', new_picture_path, class: "footer" %>

