<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <%= image_tag @picture.url %>
 </p>

<p>
 <strong>Category:</strong>
 <%= @picture.category %>
 </p>

 <p>
 <strong>Mood:</strong>
  <%= @picture.mood %>
</p>

<p>
<strong>Date:</strong>
  <%= long_date(@picture.date) %>
</p>

<h3>Comments</h3>
<% @picture.comments.each do |comment| %>
  <div>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>



<%= link_to 'Edit', edit_picture_path(@picture), class: "footer" %> |
<%= link_to 'Back', pictures_path, class: "footer" %>
