<p id="notice"><%= notice %></p>

<p>
<%= embed(@picture.video_link) %>  
</p>
<p>
  <% image_tag @picture.url %>
 </p>

 <p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<p>
<strong>Release Date:</strong>
  <%= long_date(@picture.date) %>
</p>

<<<<<<< HEAD
<%= render 'comments/form'%>

<p>
<strong>Comments:</strong>
<% @picture.comments.each do |comment| %>
  <div>
    <p><%= comment.body %></p>
    <p font-size="2px"><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<p>

=======

<h3>Comments</h3>
<% @picture.comments.each do |comment| %>
  <div>
    <p><%= comment.body %></p>
    <p><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render 'comments/form' %>
>>>>>>> 5708fb0b8e6284581c88814d0819f30d5b3189f0

<%= link_to 'Edit', edit_picture_path(@picture), class: "footer" %> |
<%= link_to 'Back', pictures_path, class: "footer" %> 
