<p id="notice"><%= notice %></p>

<p>
<%= embed(@picture.video_link) %>  
</p>
<p>
  <% image_tag @picture.url %>
 </p>

 <p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<p>
<strong>Date:</strong>
  <%= long_date(@picture.date) %>
</p>

<br>
<br>
<br>

<%= link_to 'Edit', edit_picture_path(@picture), class: "footer" %> |
<%= link_to 'Back', pictures_path, class: "footer" %>
